@font-face { 
    font-family: mark;
    src: url(fonts/MARKREGULAR.OTF);
}

body {
    font-family: mark;
}


    
.container { 
    text-align: center; 
}

.logo { 
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
}

.acesso {
    padding: 200px 0;
}

#dialog-registo {
    font-size: 80%;
}

label, input { 
    display:block;
}

input.text {
    margin-bottom:12px;
    width:95%; 
    padding: .4em;
}

fieldset { 
    padding:0;
    border:0;
    margin-top:25px;
}

h1 { 
    font-size: 1.2em;
    margin: .6em 0;
}

.ui-dialog .ui-state-error { 
    padding: .3em;
}

.validate-tips { 
    border: 1px solid transparent;
    padding: 0.3em;
}

#formulario-registo, #formulario-login {
    font-size: 14px;
}

#mensagemErroRegisto, #mensagemErroLogin {
    color: red;
}

#submit-registo, #submit-login {
    position: absolute;
    top: -1000px;
}

#learning-square-name {
    text-align: center;
    font-family: mark;
    padding: 35vh;
}


#learning-square-name p img {
    width: 5%;
}

#registar, #login {
    width: 200px;
}

  
